{% extends "layout.html" %}
{% block title %}Activities | {{session.username}}{% endblock %}

{% block content %}

<div class="row">
	<div class="col s12">
		<h2>View Jobs</h2>
		<p class="text-align">
			Choose your Job
		</p>
		{% if success %}
			<h5 style="color:green">{{ success }}</h5>
		{% endif %}
		<h4 class="center-align">Job List</h4>
	
		<table class="responsive-table centered">
			<thead>
				<tr>
					<th>Company Name</th>
					<th>Job Description</th>
					<th>Company Address</th>
					<th>Salary</th>
					<th>Apply</th>
				</tr>
			</thead>
			<tbody>
				{% for item in items %}
				<tr>
					<td>{{ item.name }}</td>
					<td>{{ item.description }}</td>
					<td>{{ item.address }}</td>
					<td>{{ item.price }}</td>

					<form action="/add-to-trip/{{ loop.index }}" method="POST">
					<td><button class="btn waves-effect waves-light" type="submit" name="action">Apply<i class="material-icons right">send</i></td>
					<input type="hidden" name="is_reserved" value="{% if item.timeslots %}1{% else %}0{% endif %}">
					</form>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		{% if session.is_admin == 1 %}

			<form action="/add-activity" method = "get"style="
				display: flex;
				align-items: center;
				justify-content: center;
			">
				<button class="btn waves-effect waves-light" style="margin-top: 48px;" type="submit" name="action"><i class="material-icons left">add</i>Add new activity</button>
			</form>
		{% endif %}

	</div>
</div>
{% endblock %}
